.quote {
  font-family: 'Aref Ruqaa', serif;
  font-size : 36px;
}

.author {
  margin-top: 1.7rem;
  margin-bottom: 1.3rem;
  font-size : 20px;
  font-family: 'Poiret One', cursive;
}

.app-body {
  display: flex;
  height : 100vh;
  width : 100vw;
  align-items: center;
  justify-content: center;
  background-color: rgb(247,247,247);
}

.back {
  color : rgb(244,47,62);
}
.pad-a-little {
  background-color : rgb(255,255,255);
  padding : 20px;
}

.button-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
